@charset "utf-8";
/* CSS Document */
/*c33a6e*/
@font-face
{
font-family: Interstate;
src:url(Interstate%20Black.ttf);
}
@font-face
{
font-family: Karnivore;
src:url(Karnivore-Lite/KARNIVOB.ttf);
}

body{
	margin:0;
	padding:0;
	overflow:hidden;
		background-color:#333;
		background-repeat:no-repeat;
	background-size:cover;
/*	background-image: linear-gradient(to bottom, rgba(51,51,51, 0.6), rgba(51,51,51, 0.6)), url("../images/main-background.jpg");
    background-image: -moz-linear-gradient(to bottom,rgba(51,51,51, 0.6), rgba(51,51,51, 0.6)), url("../images/main-background.jpg");
    background-image: -o-linear-gradient(to bottom, rgba(51,51,51, 0.6), rgba(51,51,51, 0.6)), url("../images/main-background.jpg");
    background-image: -ms-linear-gradient(to bottom, rgba(51,51,51, 0.6), rgba(51,51,51, 0.6)), url("../images/main-background.jpg");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(51,51,51, 0.8)), to(rgba(51,51,51, 0.8))), url("../images/main-background.jpg");
    background-image: -webkit-linear-gradient(to bottom, rgba(51,51,51, 0.6), rgba(51,51,51, 0.6)), url("../images/main-background.jpg");*/


}
#background{
margin:0;
z-index:0;
transform:translateZ(-10000px);
-webkit-transform:translateZ(-10000px);
-moz-transform:translateZ(-10000px);
-ms-transform:translateZ(-10000px);
	position:fixed;
	width:100%;
	height:100%;
	background-image:url(../images/backgroundblank.jpg);
	background-size:100% 100%;
}
#background div{
	height:100%;
	width:100%;
	background-size:100% 100%;
	position:absolute;
	top:0;
	opacity:0;
}

aside{
/*	font-family: 'Montserrat', sans-serif;*/
	position:absolute;
	/*background-color:rgba(238,238,238,0.8);*/
	font-family: 'Roboto', sans-serif;
	color:#eee;
	padding:20px 20px 20px 20px;
	text-align:center;
	border-radius:2px;
	display:none;
}
#tagline{
	width:40%;
	font-size:200%;
	top:70%;
	left:50%;
	margin-left:-20%;

}
#warning{
	width:50%;
	font-size:100%;
	top:20%;
	left:50%;
	margin-left:-25%;
}
#OK{
	width:10%;
	height:5%;
	font-size:200%;
	left:50%;
	top:30%;
	border:2px solid white;
	border-radius:5px;
	margin-left:-5%;
	cursor:pointer;
}
@-webkit-keyframes fade{
	0%{
		opacity:0;
	}
	50%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}

@-moz-keyframes fade{
	0%{
		opacity:0;
	}
	50%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}

@keyframes fade{
	0%{
		opacity:0;
	}
	50%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}
.mother-wrapper{
	display:none;
	width:100%;
	position:absolute;
	transform-style:preserve-3d;
	perspective:0px;
	perspective-origin:center center;
	transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	transition-property:transform;
	 -webkit-transform-style:preserve-3d;
    -webkit-perspective:0px;
    -webkit-perspective-origin:center center;
    /* Optional rules, used here for the container (sphere) rotation */
    -webkit-transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transition-property:-webkit-transform;
    /* Same rules for Firefox */
    -moz-transform-style:preserve-3d;
    -moz-perspective:0px;
    -moz-perspective-origin:center center;
    -moz-transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transition-property:-moz-transform;
	
	-ms-transform-style:preserve-3d;
    -ms-perspective:0px;
    -ms-origin:center center;
    -ms-transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transition-property:-moz-transform;
	z-index:10;
	
}
.overlay{
	/*background-color:#0d2541;*/
	background-color:#000;
	width:100%;
	opacity:0;
	display:none;
	position:absolute;
	left:50%;
	margin-left:-50%;
	transform:translateZ(5px);
	-webkit-transform: translateZ(0px);
	-moz-transform:translateZ(5px);
	-ms-transform:translateZ(5px);
}
.overlay p{
	width:100%;
	height:20%;
	margin:0 0 0 0;
	color:#fff;
	position:absolute;
	font-size:500%;
	font-family:Interstate, sans-serif;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	color:white;
}
#logo{
	cursor:default;
	position:absolute;
	width:50%;
	height:20%;
	left:50%;
	top:50%;
	margin-left:-25%;
	margin-top:0%;
	font-family:Karnivore;
	font-size:500%;
	text-align:center;
	color:white;
	transform:translateZ(-600px);
	-webkit-transform:translateZ(-900px);
	-moz-transform:translateZ(-900px);
	-ms-transform:translateZ(-900px);

}
#cross{
	position:absolute;
	background-color:#111;
	top:0%;
	right:0%;
	font-size:300%;
	color:white;
	display:none;
	cursor:pointer;
	transform:translateZ(10px);
	-webkit-transform: translateZ(10px);
	-moz-transform:translateZ(10px) ;
	-ms-transform:translateZ(10px);

}
.widget{
	
	position:absolute;
	text-align:center;
	font-family:Interstate, sans-serif;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width:320px;
	height:180px;
	margin-left:-160px;
	margin-top:-90px;
	left:50%;
	top:50%;
	cursor:pointer;
	transition:1s ease-out;
	-webkit-transition:1s ease-out;
	-moz-transition:1s ease-out;
	-ms-transition:1s ease-out;

		transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;

	transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;

}

.widget .content-wrapper{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.front{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:#fff;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index:20;
}
.back{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:#fff;
	background-size:100% 100%;
	background-repeat:no-repeat;
	text-align:center;
	color:#fff;
	font-family:"Comic Sans MS", cursive;

}
.main{
	z-index:10;
}
.main .back p{
	margin-top:10%;
	background-color:rgba(50,50,50,0.8);
}
.sub .back p{
	font-family:Interstate, sans-serif;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:100%;
	margin-top:10%;
}

.front p{
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	margin:0 0 0 0;
	height:30%;
	color:white;
	width: 100%;
	bottom:0;
	font-size: 140%;
}
.sub .front p{
	display:none;}
	
/*layer1 widget alignment*/
/*#philosophy0{
	transform:rotateX(-20deg) rotateY(-20deg) rotateZ(0deg) scale(1) translateZ(-400px);
	-webkit-transform:rotateX(-20deg) rotateY(20deg) rotateZ(0deg) scale(1) translateZ(-600px);

}
#rates0{
	transform:rotateX(20deg) rotateY(-20deg) rotateZ(0deg) scale(1) translateZ(-400px);
	-webkit-transform:rotateX(20deg) rotateY(20deg) rotateZ(0deg) scale(1) translateZ(-600px);
}
#portfolio0{
	transform:rotateX(-20deg) rotateY(-20deg) rotateZ(0deg) scale(1) translateZ(-400px);
	-webkit-transform:rotateX(-20deg) rotateY(-20deg) rotateZ(0deg) scale(1) translateZ(-600px);
}
#contact0{
	transform:rotateX(20deg) rotateY(20deg) rotateZ(0deg) scale(1) translateZ(-400px);
	-webkit-transform:rotateX(20deg) rotateY(-20deg) rotateZ(0deg) scale(1) translateZ(-600px);
}

*/

/*css 3d translation*/
.layer2{
	z-index:11;
	opacity:0.7;
/*	transform:translateZ(-2000px) scale(0.6);
	-webkit-transform:translateZ(-2000px) scale(0.5);
	-moz-transform:translateZ(-2000px) scale(0.6);
	-ms-transform:translateZ(-2000px) scale(0.6);*/

}
.layer3{
	z-index:12;
	opacity:0.6;
/*	transform:translateZ(-4000px) scale(0.5);
	-webkit-transform:translateZ(-4000px) scale(0.4);
	-moz-transform:translateZ(-4000px) scale(0.5);
	-ms-transform:translateZ(-4000px) scale(0.5);*/

}
.layer4{
	opacity:0.5;
	z-index:13;
/*	transform:translateZ(-6000px) scale(0.4);
	-webkit-transform:translateZ(-6000px) scale(0.3);
	-moz-transform:translateZ(-6000px) scale(0.4);
	-ms-transform:translateZ(-6000px) scale(0.4);*/
}
.layer2 .content-wrapper::after, .layer3 .content-wrapper::after, .layer4 .content-wrapper::after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:#333;
	opacity:0.2;
}
.layer3 .content-wrapper::after{
	opacity:0.3;
}
.layer4 .content-wrapper::after{
	opacity:0.4;
}
/*hover effect*/
.hovered .front{
	filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filer:gray;
-ms-filter:grayscale(100%);
-webkit-filter:grayscale(100%);
}
.hovered .content-wrapper::after{
	background-color:#00aaff;
opacity:0.5;
z-index:25;
}
/*
.dimmed-layer2{
	transform:scale(0.5) translateZ(-2000px);
	-webkit-transform:scale(0.3) translateZ(-2000px);
	-moz-transform:scale(0.5) translateZ(-2000px);
	-ms-transform:scale(0.5) translateZ(-2000px);
	opacity:0.4;
}

.dimmed-layer3{
	transform:scale(0.4) translateZ(-4000px);
	-webkit-transform:scale(0.3) translateZ(-4000px);
	-moz-transform:scale(0.4) translateZ(-4000px);
	-ms-transform:scale(0.4) translateZ(-4000px);
		opacity:0.4;
}
.dimmed-layer4{
	transform:scale(0.3) translateZ(-6000px);
	-webkit-transform:scale(0.2) translateZ(-6000px);
	-moz-transform:scale(0.3) translateZ(-6000px);
	-ms-transform:scale(0.3) translateZ(-6000px);
		opacity:0.4;
}
.dimmed-main{
	transform:scale(0.9) translateZ(-1500px);
	-webkit-transform:scale(0.9) translateZ(-1500px);
	-moz-transform:scale(0.9) translateZ(-1500px);
	-ms-transform:scale(0.9) translateZ(-1500px);
		opacity:0.4;
}
.dimmed-layer2::after, .dimmed-layer3::after, .dimmed-layer4::after, .dimmed-main::after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:#333;
	opacity:0.8;
}
*/

.dimmed{
	opacity:0.4;
	filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter:gray;
	-ms-filter:grayscale(100%);
filter:grayscale(100%);
-webkit-filter:grayscale(100%);
}
/*.main.hovered .back{
		filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
filter:grayscale(100%);
-webkit-filter:grayscale(100%);
}
.main.hovered .content-wrapper .back::after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity:0.4;
	z-index:1;}*/
/*flipping*/

			/* START: Accommodating for IE */
.flip .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
		
		/* END: Accommodating for IE */

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;

	-o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	-ms-transition: 0.6s;
	-ms-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;
}

.front {
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	/*background-color: lightgreen;*/
}

.back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

/*arrangement classes*/
.active-top-left{
	/*move the left main boxes to center.. current width 20%, gap from center 5%*/
/*	transform:translateX(75%) translateY(100%) translateZ(0px) scale(1.1);
	-webkit-transform:translateX(75%) translateY(100%) translateZ(0px) scale(1.1);
	-moz-transform:translateX(75%) translateY(100%) translateZ(0px) scale(1.1);
	-ms-transform:translateX(75%) translateY(100%) translateZ(0px) scale(1.1);*/
	opacity:0.7;
	z-index:10;
	 /*current height 30%*/
}
.active-bottom-left{
	/*move the left main boxes to center.. current width 20%, gap from center 5%*/
/*	transform:translateX(75%) translateY(-100%) translateZ(0px) scale(1.1);
	-webkit-transform:translateX(75%) translateY(-100%) translateZ(0px) scale(1.1);
	-moz-transform:translateX(75%) translateY(-100%) translateZ(0px) scale(1.1);
	-ms-transform:translateX(75%) translateY(-100%) translateZ(0px) scale(1.1);*/
	opacity:0.7;
	z-index:10;
	 /*current height 30%*/
}
.active-top-right{
	/*move the left main boxes to center.. current width 20%, gap from center 5%*/
/*	transform:translateX(-75%) translateY(100%) translateZ(0px) scale(1.1);
	-webkit-transform:translateX(-75%) translateY(100%) translateZ(0px) scale(1.1);
	-moz-transform:translateX(-75%) translateY(100%) translateZ(0px) scale(1.1);
	-ms-transform:translateX(-75%) translateY(100%) translateZ(0px) scale(1.1);*/
	opacity:0.7;
	z-index:10;
	 /*current height 30%*/
}
.active-bottom-right{
	/*move the left main boxes to center.. current width 20%, gap from center 5%*/
/*	transform:translateX(-75%) translateY(-100%) translateZ(0px) scale(1.1);
	-webkit-transform:translateX(-75%) translateY(-100%) translateZ(0px) scale(1.1);
	-moz-transform:translateX(-75%) translateY(-100%) translateZ(0px) scale(1.1);
	-ms-transform:translateX(-75%) translateY(-100%) translateZ(0px) scale(1.1);*/
	opacity:0.7;
	z-index:10;
	 /*current height 30%*/
}

.active-sub{
	border:2px solid #00ffff;
	opacity:1;
}
.active-sub .content-wrapper::after{
	opacity:0;
}
.viewing{
	opacity:1;
	z-index:20;
	cursor:default;
}
.inactive-viewing{
	opacity:0.3;
}

/*footer*/
#footer {
  height: 30px;
  background-color: #333;
  width:100%;
  position: fixed;
  bottom: 0;
  color: #aaa;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  z-index:30;
}

#footer-left {
  padding-top: 5px;
  padding-left: 10px;
}

#footer-right {
  padding-top: 5px;
  padding-right: 10px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.social-share {
  padding-right: 10px;
}

.social-share a {
  text-decoration: none;
  color: #aaa;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
}

.social-share a:hover {
  text-decoration: none;
  color: #fff;
}
